<div class="container-fluid">
    <div class="row">
        <div class="col-2 side-nav">
            <div class="row col-elements">
                <h4>Zone d'étude</h4>
            </div>
            <hr>
            <div>
                <ul class="nav nav-pills nav-fill flex-column">
                    <li class="nav-item">
                        <a class="nav-link">
                            <button type="button" class="btn btn-primary" (click)="zoomToMap()">Réseau routier</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <button type="button" class="btn btn-primary" (click)="testFunction()">Efficacité du réseau</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <button type="button" class="btn btn-primary" (click)="testFunction()">Fonctionnalité du réseau</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">------</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>

    </div>
</div>
<ng-template style="width: 800px;" #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Sauvgarder Les données</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="zoneName">Nom de la Zone</label>
                <div class="input-group">
                    <input id="zoneName" [(ngModel)]="zoneDetails.zoneName" class="form-control" placeholder="nom de zone" name="zoneName">

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nodesNumber">Nombre de Noeuds</label>
                    <input name="nodeNumber" type="number" [(ngModel)]="zoneDetails.nodeNumber" class="form-control" id="nodeNumber" placeholder="Nombre de noeuds">
                </div>
                <div class="form-group col-md-6">
                    <label for="LinkNumber">Nombre de Liens</label>
                    <input name="nodeNumber" type="number" [(ngModel)]="zoneDetails.linkNumber" class="form-control" id="linkNumber" placeholder="Nombre de Liens">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nodesNumber">Nombre de Noeuds</label>
                    <input type="number" class="form-control" id="nodeNumber" placeholder="Nombre de noeuds">
                </div>
                <div class="form-group col-md-6">
                    <label for="LinkNumber">Nombre de Liens</label>
                    <input type="number" class="form-control" id="linkNumber" placeholder="Nombre de Liens">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(zoneDetails)">Save</button>
    </div>
</ng-template>
