<div class='wrapper'>
 
    <input data-function='swipe' id='swipe' type='checkbox'>
    <label data-function='swipe' for='swipe' style="margin-left: 30px;"><img src="assets/image/th-list-solid.svg"></label>
   
    <div class='content'>
     <!-- Place your site contents here -->
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
    </div>
    <ng-template style="width: 800px;" #content let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Sauvgarder Les données</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="zoneName">Nom de la Zone</label>
                    <div class="input-group">
                        <input id="zoneName" [(ngModel)]="zoneDetails.zoneName" class="form-control" placeholder="nom de zone" name="zoneName">
    
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nodesNumber">Nombre de Noeuds</label>
                        <input name="nodeNumber" type="number" [(ngModel)]="zoneDetails.nodeNumber" class="form-control" id="nodeNumber" placeholder="Nombre de noeuds">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="LinkNumber">Nombre de Liens</label>
                        <input name="nodeNumber" type="number" [(ngModel)]="zoneDetails.linkNumber" class="form-control" id="linkNumber" placeholder="Nombre de Liens">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nodesNumber">Nombre de Noeuds</label>
                        <input type="number" class="form-control" id="nodeNumber" placeholder="Nombre de noeuds">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="LinkNumber">Nombre de Liens</label>
                        <input type="number" class="form-control" id="linkNumber" placeholder="Nombre de Liens">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close(zoneDetails)">Save</button>
        </div>
    </ng-template>    
    </div>
   
    <div class='sidebar'>
      <nav class='menu'>
        <li class="active"><a href="#" style="cursor: pointer;">Home</a></li>
        <li ><a (click)="zoomToMap()" style="cursor: pointer;">Zoom sur Tanger</a></li>
        <li><a (click)="testFunction()" style="cursor: pointer;">Affichage des données</a></li>
        <li><a (click)="testFunction()" style="cursor: pointer;">Affichage des graphes</a></li>
        <li><a (click)="testFunction()" style="cursor: pointer;">Décision</a></li>
        <li><a (click)="testFunction()" style="cursor: pointer;">Se déconnecter</a></li>
      </nav>
    </div>
   
  </div>
