<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
  <div class="login-flex">
    <div class="slider">
      <div class="titre_app"> <h1 style="text-align: center;">Application Web Pour La Gestion </h1>
        <br> <h1 style="text-align: center;">De Réseaux Transport</h1></div>
      <div class="slides">
        <div class="slide"><img src="assets/image/login4.png"></div>
        <div class="slide"><img src="assets/image/login1.png"></div>
        <div class="slide"><img src="assets/image/login2.png"></div>
        <div class="slide"><img src="assets/image/login3.png"></div>
      </div>
    </div> 
    <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="user-box">
            <input type="text" name="UserName" required>
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="🔑" required>
            <label>Password</label>
          </div>
          <a href="#" type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Connexion
          </a>
        </form>
        <br>
        <br>
        <h6 style="color: white;">Vous êtes nouveau ? <a href="#">S'inscrire ici</a></h6>
      </div>
  </div>
    
</body>
</html>