<div echarts [options]="chartOption" class="demo-chart"></div>
<div *ngIf="showTable">

    <table class="tableizer-table">
        <thead>
            <tr class="tableizer-firstrow">
                <th>Noeuds</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>Totale</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>0</td>
                <td>188</td>
                <td>503</td>
                <td>848</td>
                <td>1145</td>
                <td>1251</td>
                <td>1280</td>
                <td>1114</td>
                <td>980</td>
                <td>622</td>
                <td>288</td>
                <td>410</td>
                <td>655</td>
                <td>9285</td>
            </tr>
            <tr>
                <td>2</td>
                <td>188</td>
                <td>0</td>
                <td>315</td>
                <td>660</td>
                <td>957</td>
                <td>1063</td>
                <td>1230</td>
                <td>990</td>
                <td>808</td>
                <td>812</td>
                <td>474</td>
                <td>221</td>
                <td>461</td>
                <td>8181</td>
            </tr>
            <tr>
                <td>3</td>
                <td>503</td>
                <td>315</td>
                <td>0</td>
                <td>345</td>
                <td>642</td>
                <td>748</td>
                <td>915</td>
                <td>671</td>
                <td>510</td>
                <td>860</td>
                <td>548</td>
                <td>401</td>
                <td>158</td>
                <td>6619</td>
            </tr>
            <tr>
                <td>4</td>
                <td>848</td>
                <td>660</td>
                <td>345</td>
                <td>0</td>
                <td>297</td>
                <td>403</td>
                <td>570</td>
                <td>333</td>
                <td>498</td>
                <td>856</td>
                <td>860</td>
                <td>738</td>
                <td>489</td>
                <td>6901</td>
            </tr>
            <tr>
                <td>5</td>
                <td>1145</td>
                <td>957</td>
                <td>642</td>
                <td>297</td>
                <td>0</td>
                <td>106</td>
                <td>164</td>
                <td>310</td>
                <td>470</td>
                <td>829</td>
                <td>1166</td>
                <td>1050</td>
                <td>806</td>
                <td>7947</td>
            </tr>
            <tr>
                <td>6</td>
                <td>1251</td>
                <td>1063</td>
                <td>748</td>
                <td>403</td>
                <td>106</td>
                <td>0</td>
                <td>167</td>
                <td>313</td>
                <td>473</td>
                <td>832</td>
                <td>1169</td>
                <td>1053</td>
                <td>815</td>
                <td>8399</td>
            </tr>
            <tr>
                <td>7</td>
                <td>1280</td>
                <td>1230</td>
                <td>915</td>
                <td>570</td>
                <td>164</td>
                <td>167</td>
                <td>0</td>
                <td>146</td>
                <td>306</td>
                <td>665</td>
                <td>1002</td>
                <td>892</td>
                <td>649</td>
                <td>7993</td>
            </tr>
            <tr>
                <td>8</td>
                <td>1114</td>
                <td>990</td>
                <td>671</td>
                <td>333</td>
                <td>310</td>
                <td>313</td>
                <td>146</td>
                <td>0</td>
                <td>160</td>
                <td>519</td>
                <td>856</td>
                <td>753</td>
                <td>511</td>
                <td>6684</td>
            </tr>
            <tr>
                <td>9</td>
                <td>980</td>
                <td>808</td>
                <td>510</td>
                <td>498</td>
                <td>470</td>
                <td>473</td>
                <td>306</td>
                <td>160</td>
                <td>0</td>
                <td>359</td>
                <td>696</td>
                <td>598</td>
                <td>353</td>
                <td>6220</td>
            </tr>
            <tr>
                <td>10</td>
                <td>622</td>
                <td>812</td>
                <td>860</td>
                <td>856</td>
                <td>829</td>
                <td>832</td>
                <td>665</td>
                <td>519</td>
                <td>359</td>
                <td>0</td>
                <td>337</td>
                <td>477</td>
                <td>721</td>
                <td>7899</td>
            </tr>
            <tr>
                <td>11</td>
                <td>288</td>
                <td>474</td>
                <td>548</td>
                <td>860</td>
                <td>1166</td>
                <td>1169</td>
                <td>1002</td>
                <td>856</td>
                <td>696</td>
                <td>337</td>
                <td>0</td>
                <td>140</td>
                <td>384</td>
                <td>7931</td>
            </tr>
            <tr>
                <td>12</td>
                <td>410</td>
                <td>221</td>
                <td>401</td>
                <td>738</td>
                <td>1050</td>
                <td>1053</td>
                <td>892</td>
                <td>753</td>
                <td>598</td>
                <td>477</td>
                <td>140</td>
                <td>0</td>
                <td>244</td>
                <td>6989</td>
            </tr>
            <tr>
                <td>13</td>
                <td>655</td>
                <td>461</td>
                <td>158</td>
                <td>489</td>
                <td>806</td>
                <td>815</td>
                <td>649</td>
                <td>511</td>
                <td>353</td>
                <td>721</td>
                <td>384</td>
                <td>244</td>
                <td>0</td>
                <td>6259</td>
            </tr>
            <tr>
                <td>CE</td>
                <td>773,75</td>
                <td>681,75</td>
                <td>551,58</td>
                <td>575,08</td>
                <td>662,25</td>
                <td>699,92</td>
                <td>666,08</td>
                <td>557</td>
                <td>518,33</td>
                <td>658,25</td>
                <td>660,92</td>
                <td>582,42</td>
                <td>521,58</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>