<nav class="navbar navbar-toggleable-md navbar-light bg-light">
    <img src="assets/image/FSTT.png" alt="logo de la FSTT" width="50vh">
    <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
        <h2> GESTION DE RESEAU URBAIN </h2>
    </div>
    <button type="button" class="btn btn-light"> Se déconnecter</button>
</nav>

<div style="margin-top:5px">
    <router-outlet></router-outlet>
</div>

<footer style="margin-top:7px">
    <p style="text-align:center">BY : HANAFI ILYASSE ET MOUSSA AYMANE</p>
</footer>