<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6 ">
            <div class="box">
                <table class="tableizer-table">
                    <thead>
                        <tr class="tableizer-firstrow">
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Graph</td>
                            <td>S</td>
                            <td>L</td>
                            <td>C</td>
                            <td>Indice de connexité simple(IC1)</td>
                            <td>Indice de connexité pondéré(IC2)</td>
                        </tr>
                        <tr>
                            <td>Trial atlas</td>
                            <td>13</td>
                            <td>18</td>
                            <td>1</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 ">
            <div class="box">2</div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 ">
            <div class="box"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-6 ">
            <div class="box"></div>
        </div>

    </div>
</div>